.holder{
    display: block;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
}
.one{
    width: 100px;
    display: flex;
    background-color: aqua;
}
/* Your CSS Code here. */