.holder{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
}
.one{
    width: 100px;
    background-color: aqua;
}
.break {
  flex-basis: 100%;
  height: 0;
 
}
/* Your CSS Code here. */